html,body{ 
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  background-color:rgb(121, 121, 126);
}
.container{
    border-radius: 10px;
}
.footer-container{
    height:100%;
    width: 100%;
    background-color: rgb(40, 40, 44);
    color:white;
}
.navbar{
    padding:0;
}
.nav-link,.navbar-brand{
    color: rgb(46, 44, 168)!important;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem;
}
.nav-link:hover, .nav-link:focus,.navbar-brand:hover,.navbar-brand:focus{
    color: rgba(180, 30, 50, 0.75)!important;
    border-color: #e9ecef #e9ecef #dee2e6;
}